[submodule "Libraries/GLFW"]
	path = Libraries/GLFW
	url = https://github.com/Blodjer/glfw.git
[submodule "Libraries/glm"]
	path = Libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "Libraries/spdlog"]
	path = Libraries/spdlog
	url = https://github.com/gabime/spdlog.git
	